<h1> See all restaurants </h1>

<ul>
    <% @restaurants.each do |restaurant| %>
    <li><p><%= restaurant.name %></p></li>
    <p><%= restaurant.address %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  <% end %>
</ul>
